/* src/components/StartPage.css */
.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    transition: opacity 1s ease-in-out;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    animation: fadeIn 2s ease-in-out;
}

.animation {
    font-size: 5rem;
    animation: bounce 2s infinite;
}

.fade-out {
    opacity: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
